html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
/*------body------*/
body {
  padding: 2rem;
  text-align: center;
  height: 100vh;
  /* border: solid 2px green; */
  font-size: 2rem;
  /* background-image: url('images/farmLand.jpg');
  transition: background-image 7s ease-in-out;
  background-size: cover; */
  color: white;
  text-shadow: 1px 1px 0px black;
}

body img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  opacity: 0;
  transition: all 3s ease;
}
/*-----header-----*/
header {
  margin-top: 15%;
  width: 50rem;
  margin-left: auto;
  margin-right: auto;
}
header h1 {
  /* border: solid 2px blue; */
  margin-bottom: 0;
}

header .name {
  border-top: solid 0.2rem white;
  border-bottom: solid 0.2rem white;
}

header .name span {
  display: block;
  margin-bottom: 3%;
  margin-top: 0%;
  /* border: solid 2px blue; */
}
/*---nav---*/
nav,
nav * {
  /* border: solid 2px black; */
}

header nav ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  list-style: none;

  padding-left: 0;
}
header nav ul li:hover {
  cursor: pointer;
}
/*-----main-----*/
main,
main * {
  /* border: solid 2px darkred; */
}
/*---sections---*/
main section {
  /* border: solid 2px blue; */
  position: relative;
  height: 80vh;
  widows: 80vw;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: left;
  padding: 3%;
}
main section h2 {
  text-decoration: underline;
}

/***JS Classes***/
.hidden {
  display: none;
}
.exitBtn {
  display: block;
  position: absolute;
  top: 3%;
  right: 3%;
  cursor: pointer;
}
/* .zIndex {
  position: absolute;
  z-index: 1;
  top: 13%;
  left: 0;
  right: 0;
  width: 100%;
  height: 50vh;
} */
