html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
/*------body------*/
body {
  padding: 2rem;
  text-align: center;
  height: 100vh;
  /* border: solid 2px green; */
  font-size: 2rem;
  background-image: url('images/farmLand.jpg');
  background-size: cover;
  background-attachment: local;
  color: white;
  text-shadow: 1px 1px 0px black;
}
/*-----header-----*/
header {
  margin-top: 15%;
}
header h1 {
  /* border: solid 2px blue; */
  margin-bottom: 0;
}
header span {
  display: block;
  margin-bottom: 3%;
  margin-top: 0%;
  /* border: solid 2px blue; */
}
/*---nav---*/
nav,
nav * {
  /* border: solid 2px black; */
}

header nav ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  list-style: none;

  padding-left: 0;
}
header nav ul li:hover {
  cursor: pointer;
}
/*-----main-----*/
main,
main * {
  /* border: solid 2px darkred; */
}
main section {
  border: solid 2px blue;
  position: relative;
}

/***JS Classes***/
.hidden {
  display: none;
}
.exitBtn {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.3);
}
/* .zIndex {
  position: absolute;
  z-index: 1;
  top: 13%;
  left: 0;
  right: 0;
  width: 100%;
  height: 50vh;
} */
